# Python
__pycache__/
*.pyc
*.pyo
*.log
venv/
.env
# Flutter build / platform folders
product_app/android/
product_app/ios/
product_app/macos/
product_app/linux/
product_app/windows/
product_app/web/
Backend/all-MiniLM-L6-v2
# Flutter generated
.dart_tool/
build/
pubspec.lock

# Python cache
__pycache__/
*.pyc
# Flutter / Dart
.dart_tool/
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large data files (optional)
*.csv
*.json